/* file: styles.css
Joshua Saunders
CS 150
Project 7 - Dynamic Shop List

Create a folder called shoplist. In the html file create a form that takes
shopping list items.  Use JavaScript to add the items in an unordered list on
the HTML file
*/
body {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    margin: auto;
}

h1, h2 {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 3em;
    text-shadow: 3px 3px gray;
}

h2 {
    clear: both;
}

fieldset {
    border-color: black;
    border-style: solid;
    font-size: 1.1em;
    margin: 1em 0 1em 0;
    width: 100%;
}

input {
    border: none;
    border-bottom: 2px solid black;
    padding: 2px;
    font-size: 1.1em;
    margin-left: 20px;
}

input:before {
  content: "$";
  position: absolute;
}

input:focus {
    border-bottom: 4px solid lightblue;
}

input:invalid {
    border: 2px solid red;
}

label {
    display: none;
}

button {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px;
}

section {
    flex-wrap: wrap;
    align-content: center;
}

.text-center {
    text-align: center;
}

#addItemsForm {
    margin-top: 2.5em;
}

#shoppingList {
    margin-top: 5em;
}

#itemForm {
    margin: 2em;
    float: left;
}

#addItemButton {
    margin-top: 2em;
    float: right;
}

.deleteItem {
    float: right;
    color: orangered;
}

.deleteItem:hover {
    cursor: pointer;
}

.shoplistItem {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding: 5px;
    list-style-type: none;
}

.shoplistItem:hover {
    border: 2px gray dotted;
}
