/* file: styles.css
Joshua Saunders
CS 150
Project 5 - Payroll Program

Payroll calculator:

1. Ask for the employee’s name, hours worked, and pay per hour (Use HTML Inputs)
2. Ask for the tax rate of the employee (Single 22% or Family 18%) (Use HTML
   Inputs)
3. Calculate the gross pay, the tax amount, and the net pay using functions
   with parameters output using innerHTML.
        function grosspay(hours, payperhour)
        function emptax(grosspay)
        function netpay(empgrosspay, emptax)
4. If the hours exceed 40 calculate the overtime at 1.5 times the pay per hour.
   Write a overtime function
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    margin: auto;
}

th {
    text-align: left;
    padding-right: 1em;
}

td {
    text-align: right;
    padding-left: 1em;
}

main form label {
	display: block;
	padding: .4rem 0;
}

input, select {
    float: right;
}

fieldset {
    border-color: black;
    border-style: solid;
}

input {
    border: none;
    border-bottom: 2px solid black;
    padding: 2px;
}

input:focus {
    border: none;
    border-bottom: 4px solid lightblue;
}

input:invalid {
    border: 2px solid red;
}

button {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px;
}

select {
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    padding: 2px;
    width: 50%;
}

fieldset {
    margin: 1em 0 1em 0;
}

table {
    border: 2px solid black;
}

#feedback strong {
	font-weight: bold;
}

#empName input {
	width: 16rem;
}

#feedbackTable th {
	font-weight: bold;
	text-align: left;
    width: 100%;
    margin: 5px;
}

